<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable Server Side Includes for .aspx files -->
    <handlers>
      <add name="ASPXIncludeHandler" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" />
    </handlers>
    
    <!-- Default documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="ubettor.aspx" />
        <add value="index.html" />
        <add value="default.aspx" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    
    <!-- MIME types for web fonts and other assets -->
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <!-- Custom error pages -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
  <!-- ASP.NET Configuration -->
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- Session state configuration -->
    <sessionState mode="InProc" timeout="20" />
    
    <!-- Authentication configuration -->
    <authentication mode="None" />
    
    <!-- Custom error handling - temporarily showing all errors for debugging -->
    <customErrors mode="Off" />
  </system.web>
</configuration>
